/* SPDX-License-Identifier: MIT
   Copyright © 2021 Kapouett */

body {
	background-color: black;

	color: #f2f2f2;
	font-family: Arial;
	font-size: 16px;
	
	pointer-events: none;
}
@media(orientation:portrait) { body {
	font-size: 50px;
}}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

ul {
	overflow: hidden;
}
@media(orientation:landscape) { ul {
	column-count: 2;
}}

li {
	line-height: 100%;
	padding: 5px;
	overflow-wrap: break-word;
}

a {
	color: #f2f2f2;
	text-decoration: none;

	pointer-events: all;
}

a:hover {
	text-shadow: 0px 0px 3px rgba(255, 0, 255, 1);
}

.folders {
	list-style-type: none;
	padding: 0;
	line-height: 180%;
}
@media(orientation:landscape) { .folders {
	column-count: 4;
}}

.files {
	list-style-type: none;
	padding: 0;
	padding-left: 10px;
	line-height: 180%;
}

.nav {
	padding: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

a.nav {
	background-color: #ededed;
	border-radius: 3px;

	color: #777777;
	font-family: Arial;
	font-size: 150%;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.search_form {
	display: inline;
	pointer-events: all;
}

.error_pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	pointer-events: none;
	position: fixed;
	margin: 0px;
	top: 20px;
	left: 20px;
	border-radius: 10px;
	opacity: .85;
	height: 50%;
	width: auto;
	z-index: 100;
}
@media(orientation:portrait) { .thumbnail {
	width: 50%;
	height: auto;
}}

