/* SPDX-License-Identifier: MIT
   Copyright © 2021 Kapouett */

html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;

	color: #f2f2f2;
	font-family: Arial;
	font-size: 16px;

	pointer-events: none;
}
@media(orientation:portrait) { body {
	font-size: 30px;
}}

a {
	pointer-events: all;
}

#downloadButton {
	text-decoration: none;
}

#outer {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.nav {
	margin: 10px 0 10px 10px;
	padding: 10px;
	text-align: right;
}

a.nav {
	background-color: #ededed;
	border-radius: 3px;

	color: #777777;
	font-family: Arial;
	font-size: 150%;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

#media-container {
	width: 100%;
	text-align: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.media {
	width: auto;
	max-width: 100%;
	height: auto;
	pointer-events: all;
}
@media(orientation:portrait) { .media {
	width: 100%;
	height: auto;
}}

pre {
	border: none;
	margin: 0;
	padding: 0 0 0 2em;
	width:100%;
	height:100%;
	color: #888984;
	background-color: #1E393C;
	box-shadow: inset 0 0 10px #30172D;
	font-family: mono;
	text-align: left;
	tab-size: 4;
	-moz-tab-size: 4;
}

code {
	display: block;
	color: #F7F8D1;
}

.codelines {
	margin: 0;
	list-style-position: outside;
	list-style-type: decimal;
}

.codeline {
	background-color: #213034;
}

